name: Build MdBook Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      # as docs have symbolic links to the scripts folder, we need to include it
      - 'scripts/**'

jobs:
  run:
    runs-on: ubuntu-latest
    concurrency:
      group: "pages"
      cancel-in-progress: true
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - uses: actions/checkout@v4
      - name: Install mdBook
        uses: taiki-e/install-action@v2
        with:
          tool: mdbook@latest
      - name: Prepopulate docs install scripts
        run: |
          rm -f docs/install.sh docs/install.ps1 || true
          cp -f --remove-destination scripts/install.sh docs/install.sh
          cp -f --remove-destination scripts/install.ps1 docs/install.ps1

      - name: Build Book
        run: |
          mdbook build docs
      - name: Prepare site
        run: |
          cp scripts/install.sh docs/book/install.sh
          cp scripts/install.ps1 docs/book/install.ps1
          touch docs/book/.nojekyll

      - name: Setup Pages
        uses: actions/configure-pages@v5
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/book'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
